<?xml version="1.0"?>
<robot name="wit_imu">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.69"/>
      <geometry>
        <mesh filename="package://wit_ros2_imu/meshes/IMU.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="imu_body">
        <color rgba="0.18 0.58 0.82 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.69"/>
      <geometry>
        <mesh filename="package://wit_ros2_imu/meshes/IMU.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
</robot>
